<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{context.sitename}}{% endblock %}</title>
        <script>if (top !== self) top.location = self.location;</script>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="initial-scale=1; maximum-scale=1; user-scalable=0;" />
        {% block author %}
        <meta name="author" content="{{ context.author }}" />
        {% endblock %}
        {% block beforestyle %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" href="{{content_url('feed.xml')}}" title="{{context.sitename}} Feed" />
        <link rel="stylesheet" href="{{ static_url('style.css') }}" />
        {% block afterstyle %}{% endblock %}
    </head>
    <body class="{% block bodyClass %}home{% endblock %}">
    	<div id="header">
    		<ul id="nav">
	            <li class="home"><a href="/">Home</a><em>/</em></li>{% block nav %}<li class="about"><a href="/about.html">About</a><em>/</em></li><li class="tag"><a href="/tag/">Tags</a></li>{% endblock %}
	        </ul>
    	</div>
        <div id="content">
			{% block container %}{% endblock %}
        </div>
        <div id="footer">
            Copyright by <a href="{{context.siteurl}}">{{context.sitename}}</a> | Powered by <a href="http://lepture.com/project/liquidluck">Felix Felicis</a>
        </div>
    </body>
</html>
