{% extends "layout.html" %}

{% block title %}{{context.sitename}} - {{post.title}}{% endblock %}

{% block author %}
<meta name="author" content="{{ post.author }}" />
{% endblock %}

{% block afterstyle %}
<link rel="stylesheet" href="{{ static_url('syntax.css') }}" />
{% endblock %}

{% block bodyClass %}post{% endblock %}

{% block nav %}
	<li><time datetime="{{post.date}}">{{post.date.strftime("%b %d")}}</time>{{post.title}}</li>
	{% if post.prev %}
        <li class="prev"><a href="{{content_url(post.prev.slug)}}" title="{{post.prev.title}}" rel="prev">&laquo;</a></li>
    {% endif %}
    {% if post.next %}
        <li class="next"><a href="{{content_url(post.next.slug)}}" title="{{post.next.title}}" rel="next">&raquo;</a></li>
    {% endif %}
{% endblock %}

{% block container %}
<ul class="tags">
    {% for tag in post.get('tags', []) %}
    <li><a href="{{content_url('tag', tag)}}" rel="tag">{{tag}}</a></li>
    {% endfor %}
</ul>
<div class="content">
    {{ post.content }}
</div>
{% endblock %}
