body, html {
    height: 100%;
}

body {
	margin:0;
    font: 20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #fff url(img/main.png);
    color: #424242;
	-webkit-font-smoothing: antialiased; 
}

h1, h2, h3 {
    font-size: 1.3em;
    color: #333;
    margin: 0 0 14px 0;
}

h2 a {
	color:#222;
}

blockquote {
	border-left: 3px solid #E5E5E5;
	color: #666;
	margin: 0 0 24px 0;
	padding: 0 0 0 24px;
}

pre {
	background: white;
	border-radius: 5px;
	border: 1px solid #CDCDCD;
	box-shadow: 0 1px 0 white,0 1px 3px rgba(0, 0, 0, .1) inset;
	color: black;
	font: 12px/1.5 Monaco,monospace;
	overflow-x: auto;
	padding: 12px;
	white-space: pre;
	word-wrap: normal;
}

strong {
    background: #FF9;
	color: #533B18;
	padding: 2px 3px;
	font-weight: normal;
}

ol,ul {
	list-style: inside disc;
	margin: 0 0 24px 0;
}

ol {
	list-style: inside decimal;
}

p {
    margin: 0 0 24px 0;
    line-height: 1.6;
}

a {
    color: #33A4F4;
    text-decoration: none;
}

a:hover {
    color: #114591;
    
}

em {
	color:#999;
	font-style:italic;
}

time {
	color:#fff;
	margin-right: 10px;
	background: #ccc;
	padding: 0 5px;
	border-radius: 4px;
	font-size: 20px;
	text-shadow: none;
}

#header {
	position: relative;
	height: 43px;
	overflow: hidden;
	color: #787878;
  	text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    background: rgba(0,0,0,0.05);
    border-bottom: 1px solid #dedede;
    box-shadow: #fff 0 1px 0;
}

#nav {
    margin: 0 auto;
	max-width: 640px;
    padding: 0;
    text-indent: 18px;
}
#nav li {
	color:#333;
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-right: 10px;
}
#nav a {
    text-decoration: none;
    color: #787878;
    margin-right: 10px;
}
body.home #nav .home a,
body.tag #nav .tag a,
body.page #nav .about a,
#nav a:hover {
    color: #444;
}
#nav .prev, #nav .next {
	position: absolute;
	top:0;
	left: 20px;
	font-size: 35px;
	margin-right: 0;
	font-family: Arial,sans-serif;
}
#nav .next {
	text-align: right;
	left: auto;
	right:20px;
}

#content {
    margin: 0 auto;
	max-width: 640px;
	padding: 48px 18px;
}

#content img {
	max-width: 480px;
}

.tags{
	margin: 0 0 20px 0;
	padding:0;
	position: relative;
	list-style:none;
	overflow: hidden;
}

.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:13px;
	font-weight: bold;
}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#aaa;
	color:#fff;
	text-decoration:none;
	border-radius: 0 4px 4px 0;
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #aaa transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	border-radius:2px;
	background:#fff;
	box-shadow:-1px -1px 2px #555;
}

.tags a:hover{background:#555;}	
.tags a:hover:before{border-color:transparent #555 transparent transparent;}

hr {
    padding: 0;
    border: none;
    color: #333;
    text-align: center;
    margin: 20px 0 60px;
}
hr:before {
	content: "\2026";
    display: inline-block;
    position: relative; 
    font-family: Times, Serif;
    font-size: 2.8em;
    color:#aaa;
}

#footer {
	color:#aaa;
	font-size: 14px;
	text-align: center;
}